.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img {
    width: 100%;
    display: flex;
    object-fit: contain;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    .audio {
      padding-bottom: 20px;
    }
  }
}
